.projects {
  padding-top: 4em;
  padding-bottom: 4em;
}

.assignments-heading {
  font-size: 3.25em;
  color: rgba(117, 121, 149, 0.5);
  margin-bottom: 2rem;
  font-weight: 600;
}

.assignment-title {
  font-size: 1.25em;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.assignment-card {
  position: relative;
  background-color: #101010;
  color: white;
  border-top: 10px solid #ff274e;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: auto;
  margin-bottom: 3em;
  max-width: 30em;
}

.assignment-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  border-top: 10px solid #92b8d1;
}

.assignment-buttons {
  margin-top: -4px;
  display: flex;
  justify-content: space-between;
}

.card-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
