.contact {
  background-color: #f8fafa;
  padding-top: 4em;
  padding-bottom: 4em;
}

.contact-heading {
  font-size: 3.25em;
  color: rgba(117, 121, 149, 0.5);
  margin-bottom: 2rem;
  font-weight: 600;
}

form > fieldset > ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

fieldset {
  border: none;
  margin: 0 auto;
  max-width: 45em;
}

form {
  margin: 0 15px 0 15px;
}

textarea {
  height: 6em;
}

.contact__container {
  margin-bottom: 15px;
}

/* Style the form icons */
.contact__icon {
  padding: 15px;
  background: #d8988a;
  color: white;
  min-width: 4em;
  text-align: center;
  border-radius: 5px;
  float: left;
}

/* Style the input fields */
.contact__input {
  width: 90%;
  padding: 10px;
  outline: none;
}

.contact__input:focus {
  border: 2px solid #d8988a;
  background: white;
}

input[type="text"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  outline: 0;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  border-radius: 5px;
}

input::placeholder,
textarea::placeholder {
  text-align: left;
  font-style: italic;
}
