* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a2a2e;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  color: white;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}

img {
  width: 100%;
}

.dark-text {
  color: #2a2a2e;
  margin-top: 1rem;
}

.project-img > img {
  height: 18em;
  object-fit: cover;
}

.about-img {
  max-width: 30em;
  background-color: #2a2a2e;
  border-radius: 10px;
  border-top: 10px solid #d8988a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.background-img {
  position: relative;
  background-image: url("../../images/backgroundimg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.background-img:before {
  position: absolute;
  content: "";
  background: #2a2a2e;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
  z-index: 0;
}

.container {
  text-align: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.display {
  height: 100vh;
  position: relative;
}

.display-interior {
  padding-top: 12vh;
}

.display-interior_heading {
  margin-bottom: 1rem;
}

.name {
  margin-bottom: 1.25rem;
  color: #d8988a;
  letter-spacing: 2px;
  font-size: 40px;
}

.summary {
  font-size: 30px;
  font-weight: 700;
}

.line {
  color: #d8988a;
  width: 100%;
  margin: 2rem 0 1rem 0;
}

.summary-heading {
  line-height: 30px;
  margin: 0 auto;
  max-width: 500px;
  font-size: 18px;
  font-weight: 500;
}

.personal-connect {
  margin: 2rem;
}

.personal-connect_heading {
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1rem;
}

.personal-connect_social {
  margin-top: 1rem;
}

.linkedin {
  color: #007bb4;
  margin-left: 1rem;
  font-size: 24px;
}

.github {
  font-size: 24px;
}

.phone {
  margin-left: 1rem;
  font-size: 24px;
  color: #29bc00;
}

.mail {
  margin-left: 1rem;
  font-size: 24px;
  color: #0071c5;
}

.resume {
  margin-left: 1rem;
  font-size: 20px;
}

.about {
  background-color: #f8fafa;
  padding-top: 4em;
  padding-bottom: 4em;
}

.about-heading {
  font-size: 3.25em;
  color: rgba(117, 121, 149, 0.5);
  margin-bottom: 2rem;
  font-weight: 600;
}

.btn {
  color: white;
  padding: 20px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 1rem;
}

.btn:hover {
  opacity: 1;
}

.btn-50 {
  width: 50%;
  border-radius: 0;
}

.btn-primary {
  background-color: #d8988a;
}

.btn-secondary {
  background-color: #737894;
}

.footer {
  background-color: #2a2a2e;
  color: white;
  padding-top: 4em;
  padding-bottom: 4em;
}
